/*首页头部*/
#header{background:url("")}
#header .contWidth{
    position:relative;
	width:990px;
	height:105px;
	margin:0 auto;
	z-index:100;
	border:1px solid red;
}
#header .search{
    position:absolute;
    left:198px;
	top:20px;
}
.mainNav{
    position:absolute;
	top:68px;
	left:0;
	width:990px;
	height:37px;
	line-height:37px;
	z-index:100;
	background-color:#4A4A4A;
}
.mainNav .nav{
    display:inline;
	float:left;
	margin-left:25px;
}
.mainNav ul li{
   position:relative;
   float:left;
   display:inline;
   margin-right:14px;
   z-index:100;
}
.mainNav ul li a{
    display:block;
	padding:0 8px;
	font-weight:700;
	color:#fff;
	font-size:14px;
}

/*首页主体部分*/

#content{
    clear:left;
	margin: 0 auto;
	position:relative;
	width:990px;
}
.janeshop{
    height:560px;
	overflow:hidden;
	padding:10px 0;
}
#jnCatalog{
    float:left;
	width:187px;
	height:560px;
	margin: 0 11px 0 0;
	overflow:hidden
}
#jnCatalog h2{
    height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	text-indent:13px;
	background-color:#6E6E6E;
}
.jnCatainfo{
    width:165px;
    border:1px solid #6E6E6E;
	border-style: none solid solid;
	border-width:0 1px 1px ;
	height:524px;
	overflow:hidden;
	padding:5px 10px 0;
	width:165px;
}
.jnCatainfo h3{
    border-bottom:1px solid #EEEEEE;
	width:164px;
	height:24px;
	line-height:24px;
}
.jnCatainfo ul{
    float:left;
	padding:0 2px 8px;
}
.jnCatainfo li{
    color:#AEADAE;
	float:left;
	width:79px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	position:relative;
}
.jnCatainfo li a{
    color:#444444;
}
.jnCatainfo li a.promoted{
    color:orange;
}
#jnImageroll{
   float:left;
   width:320px;
   height:320px;
   margin:0 11px 0 0;
   overflow:hidden;
   position:relative;
}
#jnNotice{
   float:left;
   width:230px;
   height:321px;
   overflow:hidden;
}
#jnBrand{
   float:left;
   width:790px;
   height:230px;
   overflow:hidden;
   margin:10px 0 0;
}